/* .main {
    position: absolute;
    width: 100%;
} */

.week {
    top: 280px;
    width: 100%;
    /* height: 510px; */
    position: absolute;
    /* background-color: #eee5d0; */
    text-align: center;
    padding: 0;
}

.day {
    display: inline-block;
    text-align: center;
    width: 11%;
    color: #704e17;
    position: relative;
    padding: 20px;
    background-color: #dbcfb3;
    /* box-shadow: 7px 7px rgb(222, 224, 222); */
    }

    .day.selected {
        border-radius: 10px;
        border-bottom: none;
        /* border-top: 7px solid #ddc7aa; */
        height: 24px;
        background-color: #eee5d0;
        border-left: 4px dashed #e2d8c0;    
        border-right: 4px dashed #e2d8c0;    
        border-top: 4px dashed #e2d8c0;    
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;
        /* box-sizing: border-box; */
    }

.weather-info {
    background-color: blue;
    position: relative;
    width: 95%;
    top: 214px;
    height: 650px;
    margin: auto;

    border-radius: 10px;
    /* border-top: 7px solid #ddc7aa; */
    background-color: #eee5d0;
    border: 4px dashed #e2d8c0;
    /* border-left: 4px dashed #e2d8c0;    
    border-right: 4px dashed #e2d8c0;    
    border-bottom: 4px dashed #e2d8c0;     */
    /* border-bottom-left-radius:0;
    border-bottom-right-radius:0; */
    overflow: auto;
}