/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: #e1ece7;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:'Inter', ,sans-serif; */
    font-family: 'Nunito Sans','Segoe UI', sans-serif;
    /* letter-spacing: 0.5px; */
}

input:focus, textarea:focus, select:focus{
    outline: none;
}


